@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  background-color: lightgray;
}

header {
  background-color: gray;
  padding: 10px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  color: white;
  flex: 0 0 200px;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

nav > a {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  transition: background-color 0.5s ease-out;
}

nav > a:hover {
  background-color: white;
  color: black;
}

main {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #00000069;
}

@media screen and (max-width: 500px) {
  header {
    flex-flow: column nowrap;
  }
  
  header > h1 {
    flex: none;
  }
  
  nav {
    flex-flow: column nowrap;
    width: 100%;
  }
}