body {
  background-color: lightskyblue;
}

@mixin aviso {
  color: red;
  font-weight: bolder;
  font-size: 20px;
}

#aviso01 {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  background-color: black;
  @include aviso;
}

#aviso02 {
  width: 150px;
  height: 150px;
  background-color: white;
  @include aviso;
}