%compartilhado {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  color: white;
}

.elemento1 {
  background-color: darkred;
  @extend %compartilhado;
}

.elemento2 {
  background-color: darkgreen;
  @extend %compartilhado;
}